<nav>
    <ul>
        {% if user.is_authenticated %}
            <li><a href="{% url 'users:flux' %}">Flux</a></li>
            <li><a href="{% url 'users:posts' %}">Posts</a></li>
            <li><a href="{% url 'users:abonnements' %}">Abonnements</a></li>
            <li><span>Bonjour, {{ user.get_full_name|default:user.username }} 👋</span>
                <form method="post" action="{% url 'users:logout' %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link nav-link">Déconnexion</button>
                </form>
            </li>
        {% else %}
            <li><a href="{% url 'users:login' %}">Connexion</a></li>
            <li><a href="{% url 'users:register' %}">Inscription</a></li>
        {% endif %}
    </ul>
</nav>