{# includes/review_card.html #}

{% if review.user == user %}
    <p>Vous avez publié une critique</p>
{% else %}
    <p>{{ review.user.username }} a publié une critique</p>
{% endif %}

<p>{{ review.time_created|date:"H:i, j F Y"|lower }}</p>

<p>{{ review.headline }}</p>
<p>{{ review.body }}</p>
<p>{{ review.rating }}</p>

<div>
    {# Seul l'auteur du billet pourra modifier/supprimer son propre billet #}
    {% if review.user == user %}
        <a href="{% url 'review-update' review.pk %}" class="btn btn-primary">Modifier Critique</a>
        <a href="{% url 'review-delete' review.pk %}" class="btn btn-secondary">Supprimer Critique</a>
    {% endif %}
</div>
