{# includes/review_card.html #}
<article style="border:1px solid #ccc; padding:12px; margin:12px 0;">
    {% with ticket=review.ticket %} {# var évitant la répétition de review.ticket #}
        {% if review.user == request.user %}
            <p>Vous avez publié une critique</p>
        {% else %}
            <p>{{ review.user.username }} a publié une critique</p>
        {% endif %}

        <small>{{ review.time_created|date:"H:i, j F Y"|lower }}</small>
        <h2>{{ review.headline }} — {{ review.rating }}/5</h2>

        {% if review.body %}
            <p>{{ review.body }}</p>
        {% endif %}

        {# Ticket lié à la review #}
        <div style="border:1px solid #aaa; padding:8px; margin:8px 0;">
            {% if ticket.user == request.user %}
                <p>Ticket - Vous</p>
            {% else %}
                <p>Ticket - {{ ticket.user.username }}</p>
            {% endif %}
            <p>{{ ticket.title }}</p>
            {% if ticket.image %}
            <img src="{{ ticket.image.url }}"
                   alt="Image actuelle"
                   width="200">
            {% endif %}
        </div>

        <div>
            {% if review.user == user %}
                <a href="{% url 'review-update' review.pk %}" class="btn btn-primary">Modifier</a>
                <a href="{% url 'review-delete' review.pk %}" class="btn btn-secondary">Supprimer</a>
            {% endif %}

            {% if not review.ticket.has_review %}
                <a href="{% url 'response-create' review.ticket.pk %}" class="btn btn-primary">Donner son avis</a>
            {% endif %}
        </div>
    {% endwith %}

</article>