{# includes/ticket_actions.html #}

<div>
    {# Seul l'auteur du billet pourra modifier/supprimer son propre billet #}
    {% if ticket.user == user %}
        <a href="{% url 'ticket-update' ticket.pk %}" class="btn btn-primary">Modifier</a>
        <a href="{% url 'ticket-delete' ticket.pk %}" class="btn btn-secondary">Supprimer</a>
    {% endif %}

    {# Conditions d'accès et d'affichage via le flag #}
    {% if not ticket.has_review %}
        <a href="{% url 'response-create' ticket.pk %}" class="btn btn-primary">Créer une critique</a>
    {% endif %}
</div>