{# abonnements.html #}
{% extends 'users/base.html' %}

{# Surcharge du contenu du head title de base.html #}
{% block title %} - Abonnements{% endblock %}

{# Surcharge du contenu du bloc "content" de base.html #}
{% block content %}
    <h3>Abonnements en construction - Page bientôt disponible ! Ce titre en H3 provient du gabarit abonnements.html (users)</h3>

    <h2>Suivre d'autres utilisateurs</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div>
            {{ form.username.label_tag }}
            {{ form.username }}
            {{ form.username.errors }}
        </div>
        <button type="submit">Suivre</button>
    </form>

    <hr>

    <h3>Abonnements</h3>
        {% if following %}
            <table>
                <thead>
                    <tr>
                        <th>Utilisateur suivi</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for follow in following %}
                        <tr>
                            <td>{{ follow.followed_user.username }}</td>
                            <td>
                                <!-- URL unfollow -->
                                <button type="button" disabled>Se désabonner</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        {% else %}
            <p>Vous ne suivez encore personne.</p>

        {% endif %}

    <hr>

    <h3>Abonnés</h3>
        {% if followers %}
            <ul>
                {% for follow in followers %}
                    <li>{{ follow.user.username }}</li>
                {% endfor %}
            </ul>

        {% else %}
            <p>Aucun utilisateur ne vous suit pour le moment.</p>

        {% endif %}

{% endblock %}s