{# base.html #}
{% load static %}
<!DOCTYPE html>
<html lang='fr'>
    <head>
        <meta charset='UTF-8'>

        {# Title par défaut pour l'application users à surcharger dans les autres gabarits enfants #}
        <title>LITRevu{% block title %} - UNDEFINED head title{% endblock %}</title>
        <link rel='stylesheet' href="{% static 'css/style.css' %}">
    </head>
    <body>
        <header>
            {# Message d'accueil de l'utilisateur connecté #}
            {% if user.is_authenticated %}
                <span class="header-greeting">👋 Bonjour, {{ user.get_full_name|default:user.username }}</span>
            {% endif %}

            {# Nom du site #}
            <h1>LITRevu</h1> <!-- fixme dynamique ??? -->

            {# Seul un utilisateur connecté doit accéder à la navigation #}
            {% if user.is_authenticated %}
                {% include 'users/includes/navbar.html' %}
            {% endif %}

        </header>

        <main>
            {% block content %}
                <!-- Si d'autres pages ont un block du meme nom, alors le contenu de celles-ci sera injecté ici pour le rendu html final -->
                <p>UNDEFINED block content dans une des pages enfants.</p>
            {% endblock %}
        </main>

        <footer>
            <p>&lt; LITRevu - OC_student_project - 2026 &gt;</p>
        </footer>

    </body>
</html>