{# flux.html #}
{% extends 'users/base.html' %}

{# Surcharge du Nom de l'application de base.html #}
{% block title %} - Flux{% endblock %}

{# Surcharge du contenu du bloc "content" de base.html #}
{% block content %}

    <div>
        <a href="{% url 'ticket-create' %}" class="btn btn-primary">Demander une critique</a>
        <a href="{% url 'review-create' %}" class="btn btn-primary">Créer une critique</a>
    </div>

    {% if items %}
        {% for item in items %}

            <article style="border:1px solid #ccc; padding:10px; margin:10px 0;">

                {% if item.ticket %}  {# Review (et son Ticket) #}
                    {% include 'users/includes/review_card.html' with review=item %}
                {% else %}  {# Ticket seul #}
                    {% include 'users/includes/ticket_card.html' with ticket=item %}
                {% endif %}

            </article>

        {% endfor %}
    {% endif %}

{% endblock %}