{% extends 'users/base.html' %}

{# Surcharge du contenu du head title de base.html #}
{% block title %} - LogIn{% endblock %}

{# Surcharge du contenu du bloc "content" de base.html #}
{% block content %}
    <div>
        <h2>Inscrivez-vous maintenant</h2>
        <a href="{% url 'register' %}" class="btn-register">S'inscrire</a>
    </div>

    <section class="auth-container">
        <h2>Connectez-vous</h2>

        {% if form.errors %}
            <p class="error">Identifiants invalides. Veuillez réessayer.</p>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <div class="auth-actions">
                <button type="submit">Se connecter</button>
            </div>
        </form>

    </section>
{% endblock %}
