{# posts.html #}
{% extends 'users/base.html' %}

{# Surcharge du contenu du head title de base.html #}
{% block title %} - Vos posts{% endblock %}

{# Surcharge du contenu du bloc "content" de base.html #}
{% block content %}

    <h2>Vos posts</h2>

    {% if posts %}
        {% for post in posts %}
            <article style="border:1px solid #ccc; padding:12px; margin:12px 0;">
                <small>{{ post.time_created|date:"H:i, j F Y"|lower }}</small>

                {% if post.ticket %}
                    {# Review #}
{#                    {% todo: include 'users/includes/review_card.html' with review=post %}#}
                    <h2>Review: {{ post.headline }}</h2>
                    <p>Note: {{ post.rating }}/5</p>
                    <p>Sur le ticket: {{ post.ticket.title }}</p>

                    {% if post.body %}
                        <p>{{ post.body }}</p>
                    {% endif %}

                {% else %}
                    {# Ticket #}
                    {% include 'users/includes/ticket_card.html' with ticket=post %}
                    <a href="{% url 'ticket-update' post.pk %}" class="btn btn-primary">Modifier</a>
                    <a href="{% url 'ticket-delete' post.pk %}" class="btn btn-secondary">Supprimer</a>
                {% endif %}
            </article>
        {% endfor %}

    {% else %}
        <p>Aucun post pour le moment.</p>
    {% endif %}

{% endblock %}
