{# posts.html #}
{% extends 'users/base.html' %}

{# Surcharge du contenu du head title de base.html #}
{% block title %} - Vos posts{% endblock %}

{# Surcharge du contenu du bloc "content" de base.html #}
{% block content %}

    <h2>Vos posts</h2>

    {% if posts %}
        {% for post in posts %}
            <article style="border:1px solid #ccc; padding:10px; margin:10px 0;">

                {% if post.ticket %}
                    {# Review #}
                    {% include 'users/includes/review_card.html' with review=post %}
                {% else %}
                    {# Ticket #}
                    {% include 'users/includes/ticket_card.html' with ticket=post %}
                {% endif %}

            </article>
        {% endfor %}
    {% else %}
        <p>Vous n'avez pas encore publié de demande de critique, ni de critique. </p>
    {% endif %}

{% endblock %}
