{# templates/users/review_create.html #}

{% extends 'users/base.html' %}

{# Surcharge du contenu du head title de base.html #}
{% block title %} - Nouvelle critique{% endblock %}

{# Surcharge du contenu du bloc "content" de base.html #}
{% block content %}

    <h2>Créer une critique</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <fieldset>
            <legend>Livre / Article</legend>

            <p>{{ form.title.label_tag }} {{ form.title }}</p>
            <p>{{ form.description.label_tag }} {{ form.description }}</p>
            <p>{{ form.image.label_tag }} {{ form.image }}</p>
        </fieldset>

        <fieldset>
            <legend>Critique</legend>

            <p>{{ form.headline.label_tag }} {{ form.headline }}</p>
            <p>{{ form.rating.label_tag }} {{ form.rating }}</p>
            <p>{{ form.body.label_tag }} {{ form.body }}</p>
        </fieldset>

        <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>
{% endblock %}