{# review_create.html #}
{% extends 'users/base.html' %}

{# Surcharge du contenu du head title de base.html #}
{% block title %} - Nouvelle critique{% endblock %}

{# Surcharge du contenu du bloc "content" de base.html #}
{% block content %}
    <h2>Formulaire de création d'une critique en construction - Page bientôt disponible !</h2>

    <h3>Première section qui doit reprendre le formulaire de Billet (Ticket)</h3>
    <h3>Seconde partie qui doit afficher le formulaire de Critique (Review)</h3>
    <p>Titre de la critique:</p>
    <p>Champ d'input du titre</p>
    <p>Note :</p>
    <p>Echelle de Likert 0 à 5 sur une ligne en bouton radio</p>
    <p>Commentaire :</p>
    <p>Text area de commentaire</p>
    <p>submit bouton</p>


{% endblock %}