{# templates/users/ticket_update.html #}

{% extends 'users/base.html' %}

{# Surcharge du contenu du head title de base.html #}
{% block title %} - Modifier votre ticket{% endblock %}

{# Surcharge du contenu du bloc "content" de base.html #}
{% block content %}

    <section class="ticket-form-page">

        <div class="ticket-form-card">

            <h2>Modifier votre ticket</h2>

            <form method="post" enctype="multipart/form-data" class="ticket-form">
                {% csrf_token %}

                <div class="ticket-form__row">
                    <label for="{{ form.title.id_for_label }}">Titre - Auteur(s)</label>
                    {{ form.title }}
                    {{ form.title.errors }}
                </div>

                <div class="ticket-form__row">
                    <label for="{{ form.description.id_for_label }}">Votre demande</label>
                    {{ form.description }}
                    {{ form.description.errors }}
                </div>

                <div class="ticket-form__row">

                    <label>Couverture du livre</label>
                    {% if form.instance.image %}
                        <div class="ticket-form__image-preview">
                            <img src="{{ form.instance.image.url }}"
                                 alt="Image actuelle du ticket"
                                 class="ticket-form__preview-img">
                        </div>
                    {% else %}
                        <p class="ticket-form__empty-image">Aucune image disponible</p>
                    {% endif %}

                </div>

                <div class="ticket-form__row">
                    <label for="{{ form.image.id_for_label }}">Changer l'image :</label>
                    {{ form.image }}
                    {{ form.image.errors }}
                </div>

                <div class="ticket-form__actions">
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                </div>
            </form>

        </div>
    </section>


{% endblock %}